.selectcategories {
  margin-bottom: 100px;

  &__container {
    width: 1108px;
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__collection {
    margin-top: 35px;
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.menu-selectcategories {
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    &:hover {
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    }
    cursor: pointer;
    border: 1px solid #0b2349;
  }

  &__image {
    width: 340px;
    height: 160px;
  }

  &__item {
    border-top: 1px solid #0b2349;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
    font-size: 18px;
    padding: 15px 0px;
    width: 100%;
  }
}
